{% extends "base.html" %}

{% block nav_welcome %} active {% endblock %} 

{% block body %}

<div
  class="container main-page tab-pane border border-top-0"
  style="padding: 37px"
>
  <p align="center" style="font-size: 1.3rem">
    IRedis is A Terminal Client for <a href="https://redis.io/">Redis</a> with
    AutoCompletion and Syntax Highlighting.
  </p>
  <p align="center" style="margin-top: 37px">
    <object data="{% static '/static/casts/demo.cast.svg' %}"></object>
  </p>
  <div class="row">
    <div class="col-4">
      <h2>Try It!</h2>
      <p>
        IRedis was written by Python, you can install the latest version via
        pip.
      </p>
      <div class="alert alert-secondary" role="alert">
        <samp> $ pip install iredis </samp>
      </div>
    </div>
    <div class="col-4">
      <h2>Join Us!</h2>
      <p>
        We have a user group at
        <a href="https://t.me/iredis_users">
          <img
            src="https://badgen.net/badge/icon/iredis_users?icon=telegram&label=telegram"
          />
        </a>
        , join us via this <a href="https://t.me/iredis_users"> link </a> .
      </p>
      <p>
        And the development happens on Github. Pull requests and issues are
        welcome!
        <a
          class="github-button"
          href="https://github.com/laixintao/iredis"
          data-color-scheme="no-preference: light; light: light; dark: dark;"
          data-size="medium"
          data-show-count="true"
          aria-label="Star laixintao/iredis on GitHub"
          >Star</a
        >
      </p>
      <p>
        Feel free to fire an issue or chat with us if you have problems with
        using IRedis or feature request!
      </p>
      <p>This site is also open sourced at <a href="https://github.com/laixintao/iredis.io">https://github.com/laixintao/iredis.io</a>.</p>
    </div>
    <div class="col-4">
      <h2>Other Cool DB Tools!</h2>
      <p>If you like IRedis, you may also like <a href="https://www.dbcli.com/">dbcli</a>.</p>
    </div>
  </div>
</div>
{% endblock %} {% block extra_script %}
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}
