<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>IRedis</title>

    <!-- Bootstrap core CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static '/static/css/main.css'%}" />
    <link
      rel="icon"
      type="image/png"
      href="{% static '/static/favicon.ico'%}"
    />
  </head>

  <body>
    <!-- Page Content -->
    <div class="iredis-main container">
      <div class="clearfix">
        <img
          src="{% static '/static/images/logos/LOGO-IRedis-1024x1024.png'%}"
          alt="IRedis Logo"
          class="iredis-image iredis-header"
          style="height: 45px"
          ;
        />
        <h1 class="iredis-header">>_ Interactive Redis</h1>
      </div>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link {% block nav_welcome %}{% endblock %}" href="{% url '/index.html' %}">Welcome!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block nav_show %}{% endblock %}" href="{% url '/show.html' %}">
            Features</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link {% block nav_backers %}{% endblock %}" href="{% url '/backers.html' %}">
            Backers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/laixintao/iredis/">
            Github</a
          >
        </li>
      </ul>

      <!-- content row -->
      <div>{% block body %}{% endblock %}</div>
    </div>
    <!-- Page Content -->

    <div style="height: 100px"></div>
    <!-- Bootstrap core JavaScript -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    {% block extra_script %} {% endblock %}
  </body>
</html>
